.calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2%;
    margin-top: 25px;
    height: 60vh;
    width: 40%;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
}

.react-calendar {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
    width: 90%;
}

.react-calendar__tile {
    background-color: #D3D3D3;
    margin-top: 10px;
    border-radius: 10%;
}

.react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
}