.main-content {
    background-color: #dbdbdb;
    height: 100vh;
}

.body-content {
    margin-top: 25px;
    margin-left: 2%;
}

.left-content {
    width: 115vh;
    height: 80vh;
    margin-right: 40px;
    border-radius: 2%;
    background-color: #fff;
}

.right-content {
    height: 80vh;
    border-radius: 2%;
    background-color: #fff;
}

.titulo {
    font-size: 20px;
    font-weight: 600;
    color: #0B4C7C;
}

.btn-criar {
    background-color: #1E9199;
    color: #fff;
}
