.main-content {
    margin-top: 25px;
    margin-left: 7%;
}

.left-content {
    width: 62%;
    margin-right: 25px;
    border-radius: 2%;
    background-color: #fff;
}

.right-content {
    display: flex;
    justify-content: center;
    border-radius: 2%;
    background-color: #fff;
}

.titulo {
    font-size: 20px;
    font-weight: 600;
    color: #0B4C7C;
}
