.header-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.header-logo {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vh;
}

.logo-app {
    height: 35%;
}
