.inicio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7%;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 50%;
    border-radius: 2%;
}
