.sidebar-item {
    display: flex;
    flex-direction: row;
    color: #0B4C7C;
    margin-top: 25px;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-item-icon {
    height: 25px;
}

.item-open {
    margin-left: 15px;
    margin-right: 5px;
    height: 25px;
    display: block;
}

.item-closed {
    display: none;
}