aside {
    height: 90vh;
    background-color: #fff;
    transition: 0.3s;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

.toggle {
    color: #0B4C7C;
    margin-bottom: 10px;
    height: 45px;
    width: 45px
}

.open {
    width: 280px;
}

.closed {
    width: 70px;
}

.container-open {
    margin-left: 15px;
}

.container-closed {
    align-items: center;
}
