.consultas-container {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 25px;
    background-color: #fff;
    height: 100%;
    width: 600vh;
    border-radius: 2%;
}

.data {
    font-size: 20;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
