.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7%;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 50%;
    border-radius: 2%;
}

.titulo {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}